<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='crypto.jpg') }}" alt="Crypto Background" class="header-image">
    <div class="overlay-box">
        <div class="auth-container">
            <h1>Register</h1>
            <form method="POST">
                <label>Username:</label>
                <input type="text" name="username" required>
                <label>Email:</label>
                <input type="email" name="email" required>
                <label>Password:</label>
                <input type="password" name="password" required>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account?</p>
            <form action="{{ url_for('auth_bp.login') }}" method="GET">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
